# Inverted ignore file
*
!.dockerignore
!.gitignore
!.plan
!Containerfile
!Makefile*
!README.md
!scripts/
!scripts/.empty
!scripts/*bash
!scripts/*/
!scripts/*/*bash
!certs/
!certs/.empty
!rootfs/
!rootfs/.empty
!rootfs/*
!rootfs/*/
!rootfs/*/*
!rootfs/*/*/
!rootfs/*/*/*
!rootfs/*/*/*/
!rootfs/*/*/*/*
!rootfs/*/*/*/*/
!rootfs/*/*/*/*/*
!rootfs/*/*/*/*/*/
!rootfs/*/*/*/*/*/*
rootfs/*/cheat/
rootfs/*/etc/tls/*crt
rootfs/*/etc/tls/*key
